/* pallet colors:
Dark Cyan: #038787
Prussian Blue: #103245
Maximum Yellow Red: #F2B531
Red Munsell: #FA003F
Mint Cream: #F0F7F4
*/

/* this is the CSS reset*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Here I am establishing the base fonts for my project*/
body{
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  color: #F0F7F4;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Vollkorn', serif;

}

.container{
  min-width: 100%;
  min-height: 100vh;
   background: rgba(16, 50, 69, 0.9);
padding-left: 0;
padding-right: 0;
padding-bottom: 0;
}


.mainbg{
  background: url(/images/mainbgtxt.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

main{
  max-width: 90%;
  padding-top: 15%;
  margin: auto;
}

article{
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: auto;
  justify-content: center;
  align-items: stretch;
}
nav{
  background-color: #103245;
}

li a {
    display: block;
    text-decoration: none;
    color: #F0F7F4;
   
}

li a:hover {
    background-color: #F0F7F4;
    color: #103245;
    font-weight: 600;
}

.active{
  border-bottom-color: #FA003F;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  font-weight:600;
}

.custom-toggler.navbar-toggler {
    border-color: #F0F7F4;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240, 247, 244, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

main p{
  padding: 2%;
}

footer{
  background-color: #103245;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  color: #F0F7F4;
  font-size: 12px;
  align-items: center;
  align-content: space-between;
  margin-top: 5%;
  
}

footer p{
display: inline;
}


.foot{
  width: 45%;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  margin:auto;

}
.foot img{
width: 30px;
height: auto;
margin: 10px;
}
.foot p{
  margin: 10px;
}
.links{
  display: inline;
  text-align: right;
  color: #F0F7F4;
  width: 45%;
  margin:auto;
}

.links p{
  border-right: 1px solid #F0F7F4;
  padding-left: 2%;
  padding-right: 2%;
  margin: 5px 0;

}

.links p:last-child {
  border-right: none;
}

p a{
  text-decoration: none;
  color: #F0F7F4;
}

/* About Page Styles*/
#abtct{
 width: 60%;
 color: #F0F7F4;
 	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 200px;
}

#abtct h1{
   border-bottom-color: #038787;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: 50%;
  padding-top: 5%;
}
#abtct p{
  padding-right: 10%;
}


#abtimg{
  min-width: 300px;
  max-width: 500px;
  width: 30%;
  overflow: hidden;
clip-path: polygon(50% 0%, 100% 25%, 100% 74%, 50% 100%, 0 75%, 0 25%);
  height: 30%;
  display: flex;
  flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 300px;
  margin: auto;
  background-color: #103245;
}

#abtimg img{
  max-width: 100%;
  max-height: 100%;
  
}


.animate-fading{
  animation:fading 10s infinite;
  }
  @keyframes fading{
    0%{opacity:0;}
    50%{opacity:1;}
    100%{opacity:0;}
    }


/* resume page style*/
.resume{
    background: url(/images/morebgtxt.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.resume h1{
     border-bottom-color: #F2B531;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: 180px;
}

.stickyfeet {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.stickyside{
  width: 25%;
  background-color: #038787;
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
  height: 100vh;
  padding: 2%;
  text-align: center;
  min-width: 215px;
  position: fixed;
}

.stickyside section {
  display: block;
  justify-self: center;
  border-top-color: #103245;
  border-top-style: solid;
  border-top-width: 1px;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 5px;
}

.stickyside section img{
  margin: auto;
  width: 50%;
  height: auto;
  clip-path: polygon(50% 0%, 100% 25%, 100% 74%, 50% 100%, 0 75%, 0 25%);
  margin-top: 35px;

}

.topsy{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.times{
 width: 25%;
}

.times :first-child{
  border-bottom-color: #FA003F;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: 100px;
  font-weight:600;
}

.details{
  width: 70%;
  border-left-color: #038787;
  border-left-style: solid;
  border-left-width: 1px;
  padding-left: 4%;

}

.details :first-child{
  padding-bottom: 0;
  margin-bottom: 0;
}

.infotitle{
  font-size: 18px;
  color: #F2B531;
  font-weight: 700;
}

.lefty {
  text-align: left;
}

.lefty p{
  padding: 0px;
  margin: 5px;
}

.stickyside h4,
 .stickyside h6 {
  color: #F2B531;
}

.strong{
  font-weight: 600;
  font-size: 16px;
}

.resume .container{
  display: flex;
  flex-wrap: wrap;
}

.resume article{
  width: 70%;
  position: relative;
  justify-content: right;
  margin-left: 27%;
  padding-top: 70px;
  padding-bottom: 100px;
}


.add{
  margin: 5% 0;
}

.certs{
 display: inline;
 width: 100%;
margin: auto;
justify-content: space-between;
padding-bottom: 2%;
}

.topsy svg{
  width: 10%;
  height: auto;
}
.space{
  justify-content: space-evenly;
  align-items: center;
}

.topsy svg :hover{
  fill: #F0F7F4;
}



.certs ul{
  padding-bottom: 0;
  width: 45%;
  margin-left: 2%
}

.center{
  text-align: center;
  margin: auto;
}

/*contact styles*/
#confirms{
  display: none;
}

#form{
  display: inline;
}
input{
  border: none;
  margin: 15px;
  width:80%;
  background: none;
  border-bottom:1px solid #F0F7F4;
  outline:none;
  transition: border-color border-width .2s;
  color: #F0F7F4;
}


input:focus {
  border-bottom-color: #038787;
  border-bottom-width: 2px;
}

input::placeholder {
  color: #F2B531;
}

.contact{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  margin: auto;
  padding: 5%;
  max-width: 1500px;
  margin-top: 10%;

}

.contact section{
  width: 45%;
  min-width: 250px;
  font-size: 18px;
}

.reachout{
  text-align: right;
  justify-content: right;
}

.reachout h1{
  width: 100%;
  border-bottom-color: #FA003F;
  text-align: right;

}

.reachout svg :hover{
  fill: #038787;
}

.reachout div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.reachout svg{
  width: 50%;
  height: auto;
}

.forms{
  text-align: left;
}

.forms button{
  width: 20px;
  padding: 10px;
  margin: 30px 0 30px 10%;
}

/* Portfolio Styles */
.portfolio{
  padding-top: 90px;
  width: 90%;
  margin: auto;
  margin-bottom: 10vh;
}
.portfolio h1{
   border-bottom-color: #FA003F;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.grid {
  background: transparent;
  margin: 0 auto;
  min-height: 80vh;
}

.grid:after {
  content: "";
  display: block;
  clear: both;
}

.grid-item {
  float: left;
  float: left;
  width: 300px;
  border-color: transparent;
  border-width: 5px;
  margin-bottom: 10px;
}

.grid-item--width2 { 
  width: 600px;
   }


.grid-item:hover {
  cursor: pointer;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.grid-item.grid-item__expanded {
  width: 66.66%;
  z-index: 2;
}

#buttonGroup{
  display:inline-flex;
  text-align: left;
  margin: 10px 0 10px 10px;
  width: 75%;
}

#buttonGroup p:hover{
  cursor: pointer;
}

.is-active{
  font-weight: 600;
  color: #F2B531;
}

.coming h1{
  width: 75%;
  margin: auto;
}

/*picture overlay*/
.content {
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(3, 135, 135, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 68%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 68%;
  left: 50%;
  opacity: 1;
}

.content-details h4{
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 10px;
}

.content-details p{
  font-size: 0.8em;
}
.content-details a{
  font-weight: 700;
  color: #F2B531;
  text-decoration: underline;
  text-decoration-color: #F2B531;

}
.fadeIn-bottom{
  top: 80%;
}
/*special intro styles*/
header{
  overflow: hidden;
  justify-content: center;
}

.about{
  padding-bottom: 6px;
  flex-wrap: wrap-reverse;
}



#intro{
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}

#intro, #intro video{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
#intro video {
  background: brown;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
}
.introcolor{
    background: linear-gradient(295deg, rgba(16,50,69,.5) 0%, rgba(3,135,143,.5) 100%);
    background-size: 400% 400%;
    z-index: 2;
    display:block;
    margin: auto;
    height: 100vh;
    -webkit-animation: introbg 12s ease infinite;
    -moz-animation: introbg 12s ease infinite;
    animation: introbg 12s ease infinite;
}

@-webkit-keyframes introbg {
    0%{background-position:68% 0%}
    50%{background-position:33% 100%}
    100%{background-position:68% 0%}
}
@-moz-keyframes introbg {
    0%{background-position:68% 0%}
    50%{background-position:33% 100%}
    100%{background-position:68% 0%}
}
@keyframes introbg {
    0%{background-position:68% 0%}
    50%{background-position:33% 100%}
    100%{background-position:68% 0%}
}

/*svg logo styles*/
#intro path{
    stroke: rgb(242, 181, 49);
    stroke-opacity: 1;
    stroke-width: 1;
    stroke-linecap: square;
    stroke-dasharray: 723.814, 723.814;
    stroke-dashoffset: 0;
}
polygon{
  stroke: rgb(242, 181, 49); 
  stroke-opacity: 1; 
  stroke-width: 1; 
  stroke-linecap: square; 
  stroke-dasharray: 1013.01, 1013.01; 
  stroke-dashoffset: 0;
}

.cls-1 {
    fill: #F2B531;
    fill-opacity: 0;
    stroke-miterlimit:10;
    transition: fill-opacity 5s ease-in-out;
}

.path-complete{
  transition-delay: 6.5s;
  transition-duration: 2.5s;
  fill-opacity: 1;
  }

.cls-1,.cls-2{
  stroke:#f2b52e;
  }

.cls-2{
  fill:none;
stroke-linecap:round;
stroke-linejoin:round;
}

#title{
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  align-items: center;
  justify-content: center;
  padding-top: 15vh;
  margin: auto;
  opacity: 1;
  opacity: var(--headerOpacity);
  transform: scale(var(--headerScale));
}
#title svg{
  width: 35%;
  height: auto;
  visibility:hidden;
  max-height: 400px;

}
#title img{
  max-width: 55%;
  height: auto;
  padding-left: 2%;
  animation: 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal both running scale-in-center;
}
#title h1{
  padding-top: 8vh;
  width:95%;
  font-size: 24px;
  margin: auto;
  color: #F0F7F4;
  clear: both;
  animation: 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 5s 1 normal both running slide-in-bottom;
}



/* ----------------------------------------------
 * Generated by Animista on 2021-11-30 5:19:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes scale-in-center{
  0%{
  -webkit-transform:scale(0);
  transform:scale(0);
  opacity:1}
  100%{
    -webkit-transform:scale(1);
    transform:scale(1);
    opacity:1}
  }
@keyframes scale-in-center{
    0%{
      -webkit-transform:scale(0);
      transform:scale(0);
      opacity:1}
    100%{-webkit-transform:scale(1);
    transform:scale(1);
    opacity:1}
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.clear{
  width: 100%;
  display: block;
  clear: both;
}
.btn {
  margin-top: 8vh;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  align-self: center;
  font-weight: 500;
  line-height: 1;
  padding: 1.2em 2.8em;
  max-width: 25%;
  min-width: 200px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  clear: both;
      animation: 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 5s 1 normal both running slide-in-bottom;
}
.btn:hover, .btn:focus {
  color: #F0F7F4;
  outline: 0;
}

.third {
  border-color: #103245;
  color: #F0F7F4;
  box-shadow: 0 0 40px 40px #103245 inset, 0 0 0 0 #103245;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #103245 inset, 0 0 10px 4px #103245;
}

.morebt {
  border-color: #038787;
  color: #F0F7F4;
  box-shadow: 0 0 40px 40px #038787 inset, 0 0 0 0 #038787;
  transition: all 150ms ease-in-out;
  margin-bottom: 20px;
  animation: none;
}
.morebt:hover {
  box-shadow: 0 0 10px 0 #038787 inset, 0 0 10px 4px #038787;
}
    
@media screen and (max-width: 835px){
  .stickyside{
    display: none;
  }
  .resume article{
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 750px) {
  .contact section{
    width: 80%;
    margin: auto;
    margin-top: 12%;
  }
  .forms{
    text-align: right;
  }

  .forms button{
    margin: 30px 10% 30px 0;
  }
  
}

